body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h1  {
  padding:10px;
  color: white;
  margin: 0px;
  
}
h2 {
  padding:10px;
  color: white;
  margin: 0px;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  
}
header {
  display: flex;
  justify-content: space-between;
  background-color: rgb(75, 77, 77);
  padding: 15px;
  align-items: center;

}
nav a {
  color:white;
  text-decoration: none;
  font-size: 150%;
  border-bottom: 4px solid white;
  margin: 4px;
  margin: 4px;
}


.sub-heading  {
  background-position: bottom;
  background-image: url("https://cdn.pixabay.com/photo/2021/02/03/14/58/geometric-5978243_1280.jpg");
  display: flex;
  padding: 80px 60px 20px;
  justify-content: flex-end;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}

main > section {
display: flex;
flex-direction: row;
padding-left: 80px;
}
.container1 {
  
  margin-top: 20px;
}

.content {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  padding: 8px 16px;
  border-left: 10px solid rgb(53, 53, 54);
}
.content nav a {
  color: aliceblue;
  font-size: larger;
}
img {
  width: 100px 100px;
}
p {
  margin-bottom: 20px;
}
.container2 {
  margin-bottom: 20px;
}

.skill.website {
  background-image: url("https://cdn.pixabay.com/photo/2017/07/10/10/08/icon-2489619_1280.jpg");
  background-position:center;
  /* border: 4px solid rgb(0, 0, 0); */
  min-height: 200px;
  width: 50%;
  box-sizing: border-box;
  display: flex;
  align-items:center;
}

.skill.film {
  background-image: url("https://cdn.pixabay.com/photo/2020/11/20/00/08/clapperboard-5760216__340.jpg");
  /* border: 4px solid rgb(0, 0, 0); */
  min-height: 200px;
  width: 50%;
  box-sizing: border-box;
  
  display: flex;
  align-items: center;
  }
  .skill.photo {
    /* border: 4px solid rgb(0, 0, 0); */
    background-image: url("https://cdn.pixabay.com/photo/2021/01/30/02/02/man-5962642_1280.jpg");
    background-position: center;
    border-bottom-left-radius: 25px;
    min-height: 200px;
    width: 50%;
    box-sizing: border-box;
    margin-bottom: 8px;
    display: flex;
    align-items: center;
    }
    .skill.sound {
      /* border: 4px solid rgb(0, 0, 0); */
      background-image: url('https://cdn.pixabay.com/photo/2017/10/28/13/50/piano-2897109_1280.jpg');
      background-position: center;
      min-height: 100px;
      width: 50%;
      box-sizing: border-box;
      margin-bottom: 8px;
      display: flex;
      align-items: center;
      }
.skill.hero   {
  /* border: 4px solid rgb(0, 0, 0); */
  display: flex;
  align-items: flex-end;
  background-image: url("https://cdn.pixabay.com/photo/2016/07/07/01/16/abstract-1501710_1280.jpg");
  align-items: center;
  border-top-right-radius: 25px;
  width: 100%;
  min-height: 200px;
}

section > footer {
  display: flex;
  justify-content: row;
  background-color: rgb(75, 77, 77);
  padding: 30px;
  align-items: center;
}
footer {
  display: flex;
  flex-wrap: wrap;
  border-radius: 25px;
  width: 100%;
  justify-content: flex-end;
}
h3 {
  display: flex;
  justify-content: center;
  flex-direction: column;
   font-size: 20%;
   width: 60px;
   text-align: center;
   padding: 8px;
}
nav {
  display: flex;
  padding: 0px 30px;
  font-size: 8px;
  
  
}

nav a {
  
  display: flex;
  
}