
html {
    font-size: 16px;
    
  }
  
  body {
    font-family: 'Open sans', sans-serif;
    font-weight: 300;
  }
  
  
  .main-heading {
    font-family: 'Open sans', sans-serif;
    font-weight: 300;
    text-align: center;
    letter-spacing: 9px;
    text-transform: uppercase;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    padding: 0;
    margin: auto;
    height: 40px;
    color: #fff;
  }
  header a {
    margin: 0px 40px 0px 40px;
  }
  .container  h1 {
    font-weight: 300;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 20px;
  }
  .bg-light {
    width: 100%;
    margin: 0;
    text-align: center;
    padding:0
    
  }
  
  p {
    font-size: 16px;
    line-height: 1.5;
  }

  
  /* Main */
  
  .sec-main {
    position: relative;
    height: 560px;
    background: url(https://images.pexels.com/photos/747964/pexels-photo-747964.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260) no-repeat center center;
    background-size: cover;
  }
  /*About*/
  
  .sec-about a {
    color: #000;
   
  }
  img {
    border-radius: 20%;
  }
button {
  border:none;
  background:none;
  outline-style: none;
}
button i {
  color: #000;
}
.sec-work  {
  font-weight: 300;
  text-align: center;
}
.sec-work p {
  font-weight: 300;
  text-align: center;
}
.sec-work h2 {
  font-weight: 300;
  text-align: center;
  padding-top: 50px;
}
.sec-work h1 {
  font-weight: 300;
  text-align: center;
  padding-bottom: 40px;
}
.sec-work a {
  
  margin: 30px;
  
}
  
  
  
  
  /* section info */
  .sec-info  {
  font-weight: 300;
  text-align: center;
}
.sec-info p {
  font-weight: 300;
  text-align: center;
}
.sec-info h3 {
  font-weight: 300;
  text-align: center;
}
.sec-info i {
  display: block;
  margin: 30px;
  
}

.big-icon {
  font-size: 132px;
}


section {
    padding: 5em 0;
  }
  .soc-media-ul {
    display: flex;
  justify-content: center;
  padding: 15px;
  }
  .soc-media-ul a {
    text-align: center;
    text-decoration: none;
  }
  ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
  }
  
  
  footer {
    background: rgb(0, 0, 0);
    padding: 0px;
  }
  
  
  
  
  
  


  
  
  

  
 
  
  